<?xml version="1.0"?>

<launch>
        <arg name="model" default="$(find visual_model)/urdf/hexapod_leg.xacro"/>
        <arg name="gui" default="false" />
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
        <param name="use_gui" value="$(arg gui)"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find visual_model)/rviz/hexapod_leg.rviz" />
        <node name="leg_joint_publisher" pkg="leg_joint_publisher" type="joint_publisher"/>
        <node name="leg_inv_kinematic" pkg="leg_inv_kinematic" type="leg_inv_kinematic"/>
        <!-- <node name="circle_traj_generator" pkg="circle_traj_generator" type="circle_traj_generator" />
-->
        <node name="ds4_driver" pkg="ds4_driver" type="ds4_driver_node.py"/>
        <node name="ds4_control" pkg="ds4_control" type="ds4_control"/>
</launch>
<!-- -->