<?xml version="1.0"?>

<launch>
        <!-- parameters for simulation -->
        <arg name="model" default="$(find hexapod_scarab)/urdf/hexy_description.xacro"/>
        <arg name="gui" default="false" />
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
        <param name="use_gui" value="$(arg gui)"/>
        
        <!-- load hexapod mechanical parameters -->
        <rosparam file="$(find hexy_lib)/config/hexy_mechanical_params.yaml" command="load"/>

        <!-- load simulation packages -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_scarab)/rviz/hexy.rviz" />
        <node name="hexy_joint_publisher" pkg="hexy_joint_publisher" type="joint_publisher"/> 

        <!-- load other packages -->
        <node name="leg_inv_kinematic" pkg="leg_inv_kinematic" type="leg_inv_kinematic"/>
        <node name="ds4_driver" pkg="ds4_driver" type="ds4_driver_node.py"/>
        <node name="ds4_control" pkg="ds4_control" type="ds4_control"/>
        <node name="geometry_constraints" pkg="geometry_constraints" type="geometry_constraints"/>
</launch>
